################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

*.lock
*/.vs
*[Bb]in/
*[Oo]bj/
*/.vs/SqlDaoDemo/v16/Server/sqlite3/storage.ide
*.ide-shm
*.ide-wal
